.general {
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  background: #dd600d;
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  flex: 1 1 auto;
}

.app-name {
  color: #ffffff;
  font-size: 30px;
}

.openMenu {
  margin-right: 5px;
  color: #ffffff;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}

.openMenu:hover {
  transition: 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.logo a:hover {
  color: #643900;
  cursor: pointer;
}

.nav a {
  color: #ffffff;
  font-size: 0.8 rem;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.nav a:hover {
  color: #643900;
}
