<mat-sidenav-container class="account-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p>
      <button mat-button (click)="close('toggle button')">Close</button>
    </p>
    <div class="content">

    </div>
    <app-account-container></app-account-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <p>
      <button mat-button (click)="sidenav.open()">Open</button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
