<div class="general">
  <div class="userContainer">
    <div class="image"></div>
    <p class="username">Nombre Usuario</p>
  </div>
  <mat-list>
    <h3 mat-subheader>Mi cuenta</h3>
    <mat-list-item class="option">
      <mat-icon mat-list-icon>person</mat-icon>
      <h4 mat-line>Informacion personal</h4>
    </mat-list-item>
    <mat-list-item class="option">
      <mat-icon mat-list-icon>location_on</mat-icon>
      <h4 mat-line>Mis direcciones</h4>
      <p mat-line>Agrega, elimina o modifica</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Menu</h3>
    <mat-list-item class="option">
      <mat-icon mat-list-icon>local_dining</mat-icon>
      <h4 mat-line>Platos favoritos</h4>
    </mat-list-item>
    <mat-list-item class="option">
      <mat-icon mat-list-icon>priority_high</mat-icon>
      <h4 mat-line>Indicaciones especiales</h4>
      <p mat-line>Cuentanos que ingradientes no enviar</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Ayuda</h3>
    <mat-list-item class="option">
      <mat-icon mat-list-icon>help</mat-icon>
      <h4 mat-line>¿Como funciona?</h4>
    </mat-list-item>
    <mat-list-item class="option">
      <mat-icon mat-list-icon>textsms</mat-icon>
      <h4 mat-line>Soporte</h4>
      <p mat-line>Escribenos si necesitas ayuda</p>
    </mat-list-item>
  </mat-list>
</div>
