@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}