<div class="general">
  <div class="option ">
    <label class="title">Hamburguesas</label>
    <img src="../../assets/Hamburguesas.PNG" alt="">
  </div>
  <div class="option ">
    <label class="title">Carnes</label>
    <img src="../../assets/BeefSteaks.png" alt="">
  </div>
  <div class="option ">
    <label class="title">Pastas</label>
    <img src="../../assets/Pasta.jpg" alt="">
  </div>
  <div class="option ">
    <label class="title">Complementos</label>
    <img src="../../assets/Complementos.PNG" alt="">
  </div>
</div>
