<div class="general">
    <div class="option ">
        <label class="title">Hamburguesas</label>
      <img src="../../assets/Hamburguesas.PNG" alt="">
      
    </div>
    <div class="option ">
        <label class="title">Hamburguesas</label>
        <img src="../../assets/Complementos.PNG" alt="">
        
    </div>
    <div class="option ">
        <label class="title">Hamburguesas</label>
        <img class="smallimage" src="../../assets/BeefSteaks.jpg" alt="">
       
    </div>
    <div class="option ">
        <label class="title">Hamburguesas</label>
        <img class="smallimage" src="../../assets/Pasta.jpg" alt="">
       
    </div>
  </div>